* {
    margin: 0;
    padding: 0;
}

p {
    font-family: dnp-shuei-mgothic-std, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h4 {
    font-family: 'Snell Roundhand', sans-serif;
    font-weight: 400;
    text-align: center;
    padding-top: 40px;
}

h2 {
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

h6 {
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 17px;
    padding-top: 15px;
    padding-bottom: 15px;
}



header {
    background-image: url("images/hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
}

header img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
}

/*
.visual {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    display: flex;
}
*/

/*
.title-wrap {
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title1 {
    font-family: ta-rb, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
}

.title2 {
    font-family: dnp-shuei-mgothic-std, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 30px;
}
*/

nav {
    background-color: #fffafa;
}

ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

li {
    padding: 20px 20px 20px 0px;
    font-family: jaf-domus-titling-web, sans-serif;
    font-weight: 500;
    font-style: normal;
}

header a {
    text-decoration: none;
    color: #000;
}


#about {
    /*    height: 100vh;*/
    width: 100%;
    background-color: #fffafa;
}

#about h6 {
    font-size: 20px;
    padding: 15px 0 1px;
}


.about-content-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
    padding-bottom: 100px;
}

.about-content {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 300px;
}

#program {
    background-color: #ffc7c7;
    width: 100%;
    padding-bottom: 150px;
    padding-top: 100px;
}

#program h4 {
    color: #fffafa;
    margin-bottom: 25px;
}

#program p {
    color: #fffafa;
}

#program h2 {
    color: #fffafa;
    position: absolute;
    padding: 0 25px;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit- transform: translateY(-50%) translateX(-50%);
    background-color: #ffc7c7;
    z-index: 2;
}

.program-box {
    border: 2px solid #fffafa;
    width: 900px;
    margin: 0 auto;
    position: relative;
}

.program-intro {
    width: 800px;
    margin: 50px auto;
}

.program-content-wrap {
    padding-bottom: 150px;
    margin-top: 10px;
}

.program-content {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}


.program-title {
    font-weight: 700;
    background-color: #ffe2e2;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 60px;
    margin-left: 50px;
}

#program img {
    width: 400px;
}

.right-p {
    width: 400px;
    display: flex;
    align-items: center;
}

.left-p {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.left-p p {
    margin-right: 50px;
}

.tab-wrap {
    margin-top: 80px;
    padding-bottom: 200px;
}

#price {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #fffafa;
}

.price-intro {
    width: 90%;
    margin: 10px auto;
}

#price h4 {
    margin-top: 100px;
    padding-top: 100px;
}



.hexagon {
    width: 577px;
    height: 1000px;
    background: #ffc7c7;
    position: relative;
    margin: 20px auto;
    z-index: 1;
}

.hexagon::before,
.hexagon::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ffc7c7;
}

.hexagon::before {
    transform: rotate(60deg);
    z-index: -2;
}

.hexagon::after {
    transform: rotate(-60deg);
    z-index: -1;
}

.tab-all {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
    height: 75%;
}

#tab1 img {
    margin-left: 120px;
}

#tab2 img {
    margin-left: 120px;
}

#tab-control a {
    display: inline-block;
    /* インラインブロック化 */
    border-width: 1px 1px 0px 1px;
    /* 下以外の枠線を引く */
    border-style: solid;
    /* 枠線の種類：実線 */
    border-color: black;
    /* 枠線の色：黒色 */
    border-radius: 0.75em 0.75em 0 0;
    /* 枠線の左上角と右上角だけを丸く */
    padding: 0.75em 1em;
    /* 内側の余白 */
    text-decoration: none;
    /* リンクの下線を消す */
    color: black;
    /* 文字色：黒色 */
    background-color: white;
    /* 背景色：白色 */
    font-weight: bold;
    /* 太字 */
    position: relative;
}

#tab-control a:hover {
    text-decoration: underline;
}

#tab-body div {
    border: 1px solid black;
    /* 枠線：黒色の実線を1pxの太さで引く */
    margin-top: -1px;
    width: 500px;
    /* 上側にあるタブと1pxだけ重ねるために「-1px」を指定 */
    padding: 1em;
    /* 内側の余白量 */
    background-color: white;
    /* 背景色：白色 */
    position: relative;
    /* z-indexを調整するために必要 */
    z-index: 0;
    /* 重なり順序を「最も背面」にするため */
}

#access {
    padding-top: 150px;
    padding-bottom: 200px;
    background-image: url(images/access-haikei.png);
    /*
    background-size: cover;
    background-repeat: no-repeat;
*/
    background-position: center;
}


.access-intro {
    width: 800px;
    margin-bottom: 30px;
    margin: 10px auto 40px;
}


.access-fukidashi {
    position: relative;
    display: inline-block;
    margin: 1.5em 15px 1.5em 0;
    padding: 0 5px;
    width: 130px;
    height: 130px;
    line-height: 130px;
    text-align: center;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background: #fffafa;
    border-style: solid;
    border-radius: 50%;
    box-sizing: border-box;
}

.access-fukidashi:before {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 5px;
    margin-top: -15px;
    /*
    border: 15px solid transparent;
    border-left: 15px solid #a58eff;
*/
    border-right: 15px solid transparent;
    border-bottom: 15px solid #000;
    border-left: 15px solid transparent;
    z-index: 0;
    -webkit-transform: rotate(145deg);
    transform: rotate(145deg);
}

.access-fukidashi:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    right: 7px;
    bottom: 1px;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #fffafa;
    border-left: 15px solid transparent;
    -webkit-transform: rotate(145deg);
    transform: rotate(145deg);
}

.access-content {
    display: flex;
    margin-bottom: 50px;
}

.access-name {
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

hr {
    border: 0;
    height: 16px;
    background: repeating-linear-gradient(90deg, #ffe2e2, #ffe2e2 1px, rgba(0 0 0 / 0) 1px, rgba(0 0 0 / 0) 4px);
}

.access-sonota {
    display: inline-block;
    border-right: 5px solid #ffe2e2;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
}


.access-sonota:last-child {
    border-right: 0;
}

.access-sonota-flex {
    display: flex;
    justify-content: center;

}

.access-senyou-wrap {
    display: flex;
    justify-content: center;
}

.access-senyou {
    display: flex;
    flex-direction: column;
}

#access iframe {
    margin-right: 40px;
}

#schedule {
    padding-top: 150px;
    padding-bottom: 200px;
    background-color: #fffafa;
}


#schedule a {
    display: block;
    background-color: #ffc7c7;
    color: #fffafa;
    text-decoration: none;
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px auto;
    text-align: center;
    font-size: 17px;
    font-family: dnp-shuei-mgothic-std, sans-serif;
    border-radius: 30px;
}

.schdule-intro {
    width: 800px;
    margin: 10px auto;
}

#schedule div {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.schedule-watch {
    margin-top: 150px;
    position: relative;
    display: inline-block;
    padding: 0 45px;
    margin: 0 auto;
}

.schedule-watch::before,
.schedule-watch::after {
    content: "";
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 50px;
    height: 2px;
    background: #000;
}

.schedule-watch::before {
    transform: rotate(60deg);
    left: 0;
}

.schedule-watch::after {
    transform: rotate(-60deg);
    right: 0;
}

#ticket {
    background-color: #fffafa;
}


.ticket-intro {
    width: 700px;
    margin: 10px auto;
}

.ticket-title {
    font-weight: 700;
    position: absolute;
    display: inline-block;
    top: -30px;
    left: -30px;
    padding: 0px 9px 5px;
    line-height: 1;
    font-size: 19px;
    background: #fffafa;
    font-weight: bold;
}

.ticket-way-wrap {
    display: flex;
    justify-content: center;
}

.ticket-way {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5em 3em 10em;
    padding: 1rem 2rem calc(1rem + 10px);
    /*    border: solid 3px;*/
    /*    border-radius: 8px;*/
    background: #ffc7c7;
}

.ticket-way::before {
    position: absolute;
    top: -15px;
    left: -15px;
    width: 100%;
    height: 100%;
    content: "";
    border: 2px solid #000;
}


.ticket-net-name {
    margin-bottom: 20px;
}

.ticket-call-name {
    font-size: 18px;
}

.ticket-call-holiday {
    font-size: 13px;
}

.ticket-takarazuka {
    margin-bottom: 20px;
}

.ticket-content a {
    text-decoration: none;
    color: #000;
    font-family: dnp-shuei-mgothic-std, sans-serif;
    font-size: 18px;
}

#ticket hr {
    height: 2px;
    background: repeating-linear-gradient(90deg, #ffe2e2, #ffe2e2 4px, rgba(0 0 0 / 0) 4px, rgba(0 0 0 / 0) 7px);
}

#qa {
    background-color: #ffc7c7;
}

#qa h2 {
    color: #fffafa;
    padding-top: 100px;
    padding-bottom: 50px;
}

.qa-content {
    padding-bottom: 50px;
    margin: 0 auto;
    width: 700px;
}

.qa-content-p {
    color: #fffafa;
}

.qa-content-q {
    display: flex;
}

.qa-content-a {
    display: flex;
    margin-top: 5px;
}

.qa-q {
    background-color: #fffafa;
    color: #ffc7c7;
    padding: 0px 10px;
    margin-right: 10px;
}

.qa-a {
    background-color: #fffafa;
    color: #ffc7c7;
    height: 32px;
    padding: 0px 10.5px;
    margin-right: 10px;
}

footer {
    text-align: center;
    font-family: fot-tsukuardgothic-std, sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fffafa;
}

@media screen and (min-width:479px) and (max-width:1023px) {
    header ul {
        flex-direction: column;
    }
}

@media screen and (max-width:479px) {
    header ul {
        flex-direction: column;
    }

    li {
        padding: 20px 2px 20px 0px;
    }

    header img {
        width: 100%;
    }

    .about-content-wrap {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }

    .about-content {
        margin-right: 0;
    }

    .about-content img {
        width: 100%;
    }

    .about-content-wrap p {
        padding-bottom: 70px;
    }

    .program-box {
        border: none;
        width: 100%;
        margin: 0 auto;
    }

    #program h2 {
        position: relative;
    }

    .program-content-wrap {
        margin-top: 0px;
    }

    .program-content {
        flex-direction: column;
        align-items: center;
    }

    #program img {
        width: 90%;
    }

    .program-intro {
        width: 90%;
        margin: 0px auto;
    }

    .jin {
        flex-direction: column-reverse;
    }

    .program-title {
        margin: 10px auto;
    }

    .right-p {
        width: 100%;
    }

    .left-p {
        width: 100%;
    }

    .left-p p {
        margin: 10px auto;
    }

    #price {
        padding-top: 10px;
    }

    #price h2 {
        width: 80%;
        text-align: left;
        margin: 0 auto;
    }

    #price h4 {
        margin-top: 40px;
    }


    .hexagon::before,
    .hexagon::after {
        display: none;
    }

    .hexagon {
        background-color: transparent;
        width: 90%;
        height: 100%;
    }

    #tab-body div {
        border: 1px solid black;
        /* 枠線：黒色の実線を1pxの太さで引く */
        margin-top: -1px;
        width: 300px;
        /* 上側にあるタブと1pxだけ重ねるために「-1px」を指定 */
        padding: 1em;
        /* 内側の余白量 */
        background-color: white;
        /* 背景色：白色 */
        position: relative;
        /* z-indexを調整するために必要 */
        z-index: 0;
        /* 重なり順序を「最も背面」にするため */
    }

    #tab1 img {
        margin-left: 10px;
    }

    #tab2 img {
        margin-left: 10px;
    }

    #access h2 {
        width: 80%;
        text-align: left;
        margin: 0 auto;
    }

    .access-content {
        flex-direction: column;
        align-items: center;
    }

    .access-intro {
        width: 90%;
    }

    .access-senyou {
        align-items: center;
    }

    .access-fukidashi:before {
        bottom: -15px;
        right: 45px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    .access-fukidashi:after {
        right: 45px;
        bottom: -10px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }


    #access iframe {
        width: 100%;
        margin-right: 0;
    }

    .access-name {
        padding-top: 10px;
    }

    .access-sonota-wrap {
        width: 80%;
        margin: 0 auto;
    }

    .access-sonota {
        display: block;
        border-right: none;
        padding-right: 0px;
        padding-left: 0px;
    }

    #schedule {
        padding-bottom: 300px;
    }


    .schdule-intro {
        width: 80%;
    }

    .ticket-intro {
        width: 80%;
    }

    .ticket-way {
        margin-bottom: 50px;
    }

    .ticket-way p {
        font-size: 15px;
    }

    .ticket-way-wrap {
        flex-direction: column;
        padding-bottom: 300px;
    }

    .ticket-content a {
        font-size: 15px;
    }

    .qa-content {
        width: 90%;
    }


}
